:root {
  --bg: #fffae8;
  --bggray: #f2f2f2;
  --shallowgray: #b6b5b5;
  --gray: #787878;
  --black: #2b2b2b;
  --yellow: #ffda56;
  --bgpink: #feefe6;
  --red: #f27144;
  --blue: #2fa0ff;
  --bgblue: #e1f3ff;
  --serif: "Adobe Garamond Pro", Garamond, "Adobe Caslon Pro", Caslon, "Minion Pro", Minion, "Adobe Gurmukhi", "Palatino Linotype", "Adobe Garamond Pro", Garamond, "Adobe Caslon Pro", Caslon, "Minion Pro", Minion, "Adobe Gurmukhi", "Palatino Linotype", "Noto Serif CJK KR", "Source Han Serif K", "Noto Serif CJK SC", "Hiragino Mincho ProN", "Hiragino Mincho", "Yu Mincho", "Hana Mincho", "Ms Mincho";
  --codeserif: "Source Code Pro", Menlo, Inconsolata, "Courier New", "Anonymous Pro", monospace, "Noto Serif CJK KR", "Source Han Serif K", "Noto Serif CJK SC", "Hiragino Mincho ProN", "Hiragino Mincho", "Yu Mincho", "Hana Mincho", "Ms Mincho";
  --sans: Verdana, Trebuchet, muli, avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, arial, "Noto Sans CJK Kr", "Noto Sans CJK SC", PingFang, "PingFang SC", Sans-serif;
  --codesans: "Source Code Pro", Menlo, Inconsolata, "Courier New", "Anonymous Pro", monospace, "Noto Sans CJK Kr", NotoSansCJKKr, "Noto Sans CJK SC", NotoSansCJKSC, PingFang, PingFangSC, Sans-serif;
}

body {
  font-family: var(--sans);
  color: var(--black);
  font-size: 1.2em;
  line-height: 1.9em;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: justify;
  text-justify: inter-ideograph;
  background: var(--bg);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  text-align: center;
}

article {
  margin: auto;
  max-width: 850px;
  text-align: justify;
  text-justify: inter-ideograph;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

a:after {
  /* font-size: 1em; */
  content: "⟲";
  color: var(--blue);
}

a:hover {
  background: var(--bgblue);
  border-radius: .2em
}

strong {
  background: var(--red);
  padding: .1em;
  color: var(--bg);
  font-weight: normal;
  border-radius: .2em;
}

b {
  font-weight: normal;
  -webkit-text-emphasis-style: '◍';
  text-emphasis-style: '◍';
  -webkit-text-emphasis-position: over right;
  text-emphasis-position: over right;
}

v {
  border-bottom: .1em dashed var(--gray);
  margin: 0 .2em
}

n {
  font-size: .85em;
  padding: 0 .25em;
  color: var(--gray)
}

u {
  border-bottom: .15em solid var(--shallowgray);
  text-decoration: none;
  margin: 0 .1em
}

p {
  margin: 1.3em auto
}

.section-select-container {
  margin: 3em auto 1em;
}

.section-select {
  border-bottom: .25em solid var(--shallowgray);
  padding: 0 .25em .2em;
  margin: 0 2em;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-select.active {
  border-bottom: .25em solid var(--yellow);
  font-weight: bold;
}

.section-select:hover {
  border-bottom: .25em solid var(--yellow);
}

.main-render {
  /* border: .5em solid var(--yellow); */
  box-shadow: 0 0 20px 0 var(--gray);
  margin: 3em auto 0;
}

.version {
  text-align: center;
  color: var(--gray);
}

h1 {
  font-size: 2.6em;
  letter-spacing: .2em;
  margin: 2em auto -.2em;
  text-align: center;
  font-family: var(--serif);
}

h2 {
  margin-top: 3em;
  font-size: 1.5em;
  text-align: center;
  font-family: var(--serif);
}

table {
  font-family: var(--codesans);
  font-size: .8em;
  line-height: 1.6em;
  text-align: center;
  margin: 0em auto 2em;
  max-width: 140%;
  z-index: 2;
  border-bottom: 3.5px solid var(--gray);
  border-top: 3.5px solid var(--gray);
  border-collapse: collapse;
  word-break: break-all;
}

table th {
  padding: 0 .5em;
  border-right: 1px solid var(--gray);
  text-align: right;
}

table td {
  padding: 0;
  width: 50px
}

.renderConverterInput1 table {
  font-size: .9em;
  margin-top: -1.2em;
}

.renderConverterInput1 table td {
  width: auto;
  padding: .4em 1em .2em;
}

.renderConverterInput1 table th {
  text-align: center;
  padding: .3em 1em;
  border: none;
  border-bottom: 1px solid var(--gray);
}

.renderConverterInput1 table .ConverterInput1Name {
  font-weight: bold;
  text-align: right;
}

tr.MonthPrint {
  border-bottom: 2.5px solid var(--gray);
  font-weight: bold;
}

tr.NewmScPrint {
  font-weight: bold;
}

tr.NewmAvgScPrint {
  font-weight: bold;
}

tr.TermScPrint {
  font-weight: bold;
}

tr.TermMansionPrint {
  color: var(--gray);
}

tr.NewmMansionPrint {
  color: var(--gray);
}

tr.TermNamePrint {
  color: var(--shallowgray);
}

tr.NewmMmddPrint {
  color: var(--shallowgray);
  font-weight: light;
}

tr.NewmMansionPrint {
  border-bottom: 1px solid var(--gray);
}

tr.TermMansionPrint {
  color: var(--gray);
}

tr.NewmMansionPrint {
  color: var(--gray);
}

tr.TermAcrScPrint {
  border-top: 1px solid var(--gray);
}


tr.NewmAvgDecimalPrint {
  border-bottom: 2.5px solid var(--gray);
}

tr.SyzygyDecimalPrint {
  border-bottom: 2.5px solid var(--gray);
}

.single-cal p {
  margin: 2em auto 0em;
}

.calendar-select select {
  font-size: .9em;
  font-family: var(--sans);
}

year-range {
  font-size: 1em;

}

.year-select .note {
  color: var(--gray);
}

.year-select input {
  font-size: .9em;
  font-family: var(--sans);
  width: 3.3em;
}

code {
  font-family: var(--codesans);
}

button {
  background: var(--yellow);
  padding: .4em .5em;
  border-radius: .5em;
  font-weight: bold;
  color: var(--red);
  border: 1px solid var(--shallowgray);
  -webkit-transition: .3s;
  transition: .3s;
}

button:hover {
  background: var(--red);
  color: var(--bg);
}

input {
  background: none;
  margin: 0 .3em;
  padding: .1em .4em;
  border-radius: .5em;
  border: 2px solid var(--black);
  -webkit-transition: .3s;
  transition: .3s;
}

.save-file {
  margin-left: 2em;
}

.comment-wrap {
  background-color: var(--section2);
  margin: 0 auto;
  max-width: 850px;
}

.comment {
  padding-top: 4em;
  padding-bottom: 4em;
  margin: 0 auto;
  color: var(--black);
  font-size: .9em;
  line-height: 1.6;
  font-family: var(--sans)
}

hr {
  margin: 5em auto 3em;
  max-width: 6.7em;
  height: .3em;
  border-radius: 1rem;
  border: none;
  background: var(--black)
}

footer {
  margin: 5em auto 2em;
  padding: 2em 0;
  width: 100%;
  text-align: center;
  background: var(--bggray);
  text-align: center;
  font-size: .85em;
  line-height: 1.6;
}

footer p {
  margin: .3em auto
}





/*!
  Chosen, a Select Box Enhancer for jQuery and Prototype
  by Patrick Filler for Harvest, http://getharvest.com

  Version 1.8.7
  Full source at https://github.com/harvesthq/chosen
  Copyright (c) 2011-2018 Harvest http://getharvest.com

  MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
  This file is generated by `grunt build`, do not edit it by hand.
  */

/* @group Base */
.chosen-container {
  margin: 1em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chosen-container * {
  border-radius: .4em;
  border: none;
  background: var(--bg);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  z-index: 1010;
  width: 100%;
  border-radius: .5em;
  border: none;
  border-top: 0;
  background: var(--bg);
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100% 100%);
  clip-path: inset(100% 100%);
}



.chosen-container a {
  cursor: pointer;
}

.chosen-container .search-choice .group-name,
.chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}

.chosen-container .search-choice .group-name:after,
.chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
}

.chosen-container .chosen-results li.no-results {
  width: 100%;
  color: #777;
  display: list-item;
}

.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}

.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}

.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;

}

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
  width: 25px;
}

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: .4em;
  border: 1px solid var(--black);
  max-width: 100%;
  border-radius: .3em;
  background: var(--bg);
  line-height: 13px;
}

.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  /* background-color: red; */
  background: url(./chosen-sprite@2x.png) -42px 1px no-repeat;
  font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  color: #666;
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}

.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.chosen-disabled .chosen-single {
  cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}

.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}

.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}

.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}

.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}

.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}

.chosen-rtl .chosen-choices li {
  float: right;
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}

.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}

.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: url("./chosen-sprite@2x.png") no-repeat -30px -20px;
  direction: rtl;
}

.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.5dppx) {

  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("./chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}

/** loading view **/

.loading-view {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.6);
  background-image: url("./book.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.loading-text {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: 65px;
}

/* @end */