:root {
  --bg: #fffae8;
  --bggray: #f4f4f4;
  --shallowgray: #b6b5b5;
  --shallowgray1: #d2d1d1;
  --gray: #787878;
  --black: #2b2b2b;
  --yellow: #ffda56;
  --darkyellow: #ffcc00;
  --letteryellow: #c68c00;
  --bgpink: #feefe6;
  --red: #f27144;
  --letterred: #c11f1a;
  --letterblue: #0088e8;
  --blue: #2fa0ff;
  --bgblue: #e1f3ff;
  --purple: #c300f4;
  --cyan: #00e1d9;
  --green: #00bf0d;
  --lettergreen: #009a0b;
  --serif: "Adobe Garamond Pro", Garamond, "Adobe Caslon Pro", Caslon, "Minion Pro", Minion, "Adobe Gurmukhi", "Palatino Linotype", "Adobe Garamond Pro", Garamond, "Adobe Caslon Pro", Caslon, "Minion Pro", Minion, "Adobe Gurmukhi", "Palatino Linotype", "Noto Serif CJK KR", "Source Han Serif K", "Noto Serif CJK SC", "Hiragino Mincho ProN", "Hiragino Mincho", "Yu Mincho", "Hana Mincho", "Ms Mincho";
  --codeserif: "Source Code Pro", Menlo, Inconsolata, "Courier New", "Anonymous Pro", monospace, "Noto Serif CJK KR", "Source Han Serif K", "Noto Serif CJK SC", "Hiragino Mincho ProN", "Hiragino Mincho", "Yu Mincho", "Hana Mincho", "Ms Mincho";
  --sans: Verdana, Trebuchet, muli, avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, arial, "Noto Sans CJK Kr", "Noto Sans CJK SC", PingFang, "PingFang SC", Sans-serif;
  --codesans: "Source Code Pro", Menlo, Inconsolata, "Courier New", "Anonymous Pro", monospace, "Noto Sans CJK Kr", NotoSansCJKKr, "Noto Sans CJK SC", NotoSansCJKSC, PingFang, PingFangSC, Sans-serif;
}

body {
  font-family: var(--sans);
  color: var(--black);
  font-size: 1.1em;
  line-height: 1.9em;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: justify;
  text-justify: inter-ideograph;
  background: var(--bg);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: .6em;
  border: 1px solid var(--shallowgray);
  margin: .5em auto;
}

article {
  margin: 4em auto 0;
  width: 850px;
  text-align: justify;
  text-justify: inter-ideograph;
  font-size: 1.1em;
  line-height: 1.9;
}

article h2 {
  font-size: 1.8em;
}

article h3 {
  font-family: var(--serif);
  font-size: 1.6em;
}

article h4{
  font-size: 1.3em;
}

pre {
  background: var(--bgblue);
  border-radius: 1.2em;
  padding: 1em;
}

pre code {
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

a:after {
  /* font-size: 1em; */
  content: "⟲";
  color: var(--blue);
}

a:hover {
  background: var(--bgblue);
  border-radius: .2em
}

strong {
  background: var(--red);
  padding: .1em;
  color: var(--bg);
  font-weight: normal;
  border-radius: .2em;
}

b {
  font-weight: normal;
  -webkit-text-emphasis-style: '◍';
  text-emphasis-style: '◍';
  -webkit-text-emphasis-position: over right;
  text-emphasis-position: over right;
}

v {
  border-bottom: .1em dashed var(--gray);
  margin: 0 .2em
}


blockquote {
  background: var(--bgpink);
  margin: 0 0 0 1em;
  padding: 0 .25em;
  border-radius: .5em
}

q {
  background: var(--bgpink);
  border-radius: .2em;
}

q:before {
  content: none
}

q:after {
  content: none
}

n {
  font-size: .85em;
  padding: 0 .25em;
  color: var(--gray)
}

u {
  border-bottom: .15em solid var(--shallowgray);
  text-decoration: none;
  margin: 0 .1em
}

p {
  margin: 1.3em auto
}

.cover {
  /* 黃赤道 */
  background-image: url("https://pic.imgdb.cn/item/60519ee6524f85ce298dbe26.jpg");
  /* 時憲書 */
  /* background-image: url("https://pic.imgdb.cn/item/60554600524f85ce2988ce4a.jpg"); */
  /* background-image: url("https://pic.imgdb.cn/item/60554b2b524f85ce298b0236.jpg"); */
  background-size: cover;
  height: 800px;
  /* margin-bottom: .6em; */
  margin-bottom: -2em;
  text-shadow: 5px 5px 20px var(--yellow), 5px 5px 20px var(--yellow);
  border: 1px solid var(--shallowgray);
}

.cover h1 {
  margin-top: 190px
}

.cover h2 {
  margin-bottom: 160px;
}

.section-select-container {
  margin: 0em auto 5em;
  padding: .3em 0;
  border-bottom: .2em solid var(--bggray);
}

.section-select {
  color: var(--gray);
  text-shadow: 0.1em 0.1em 0.2em var(--bg);
  letter-spacing: .1em;
  padding: .3em .7em;
  margin: 0 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-select.active {
  border-bottom: .2em solid var(--darkyellow);
  color: var(--black);
  font-weight: bold;
}

.section-select:hover {
  color: var(--black);
}

.main-render {
  border-radius: 2em;
  /* box-shadow: 0 0 20px 0 var(--gray); */
  background: var(--bggray);
  border: 1px solid var(--shallowgray);
  margin: 3em auto 0;
  width: 93vw;
}

.version {
  text-align: center;
  color: var(--gray);
}

h1 {
  font-size: 3em;
  letter-spacing: .2em;
  margin: 2em auto -.2em;
  text-align: center;
  font-family: var(--serif);
}

h2 {
  margin-top: 1.5em;
  font-size: 1.5em;
  text-align: center;
  font-family: var(--serif);
}

.ans {
  /* box-shadow: 0 0 14px 0 var(--shallowgray1); */
  border: 1px solid var(--shallowgray);
  margin: 1.5em auto;
  padding: 2em 1em;
  background: var(--bggray);
  border-radius: 1em;
}

.ans p {
  margin: .25em auto;
}

.ans.table2.right h3 {
  margin: 1em auto .5em;
  font-size: 1.2em;
}

.single-cal p {
  margin: 1em auto .3em;
  font-size: 1em;
  font-family: var(--codesans);
  line-height: 1.7;
}

.single-cal h3 {
  font-family: var(--serif);
  font-size: 1.5em;
  margin: 1.5em auto 0;
  color: var(--red);
}

.cal-name {
  color: var(--red);
  margin-right: .1em;
  font-weight: bold;
  font-size: 1.2em;
  font-family: var(--serif);
}

.eclipse-wrap {
  margin: auto 2em;
}

.eclipse {
  font-family: var(--codesans);
  border: 1px solid var(--gray);
  color: var(--gray);
  border-radius: .4em;
  margin: auto .4em;
  padding: .2em .25em;
  font-size: .85em;
}

.eclipse-symbol {
  color: var(--red);
  font-size: 1.2em;
}

.NewmPlus {
  color: var(--blue);
  font-size: 1.2em;
}

.term {
  background: var(--lettergreen);
  color: var(--bg);
  font-family: var(--serif);
  border-radius: .3em;
  padding: .2em .25em;
  margin-right: .25em;
  font-weight: bold;
}

.momie {
  background: var(--black);
  color: var(--bg);
  font-family: var(--serif);
  width: 2em;
  height: 2em;
  padding: .3em;
  border-radius: 999em;
  margin: 0 .15em;
  font-weight: bold;
}

.sanfu {
  background: var(--letterred);
  color: var(--bg);
  padding: .1em .15em;
  border-radius: .25em;
}

table {
  font-family: var(--codesans);
  font-size: .9em;
  line-height: 1.6em;
  text-align: center;
  margin: .6em auto 2em;
  max-width: 140%;
  z-index: 2;
  border-bottom: 3.5px solid var(--gray);
  border-top: 3.5px solid var(--gray);
  border-collapse: collapse;
  word-break: break-all;
}

table th {
  padding: 0 .5em;
  border-right: 1px solid var(--gray);
  text-align: right;
}

table td {
  padding: 1px 0;
  width: 67px
}

.year-select table {
  min-width: 500px;
  border: none;
  font-size: 1em;
  margin-bottom: .8em;
}

.year-select table th {
  width: auto;
  border: none;
}

.year-select table td {
  width: auto;
  padding: .5em 0;
}

.table2 p {
  font-size: .9em;
  line-height: 1.7;
}

.table2 table {
  font-size: .9em;
  margin: .25em auto;
}

.table2 table td {
  width: auto;
  padding: .15em .7em;
  text-align: left;
}

.table2.right table td {
  text-align: right;
}

.table2 table th {
  text-align: center;
  padding: .15em 1em;
  border: none;
  border-bottom: 1px solid var(--gray);
}

.table2 table .RowTitle {
  font-weight: bold;
  text-align: right;
}

tr.MonthPrint {
  border-bottom: 2.5px solid var(--gray);
  font-weight: bold;
}

tr.NewmScPrint {
  font-weight: bold;
}

tr.NewmAvgScPrint {
  font-weight: bold;
}

tr.TermScPrint {
  font-weight: bold;
}

tr.TermNamePrint {
  color: var(--gray);
}

tr.NewmEquaPrint {
  border-bottom: 2px solid var(--gray);
  color: var(--gray);
  font-size: .8em;
}

tr.TermEquaPrint {
  color: var(--gray);
  font-size: .8em;
}

tr.TermAcrScPrint {
  border-top: 1px solid var(--gray);
}

/* tr.TermMansionPrint {
  color: var(--gray);
} */

tr.TermMidstarPrint {
  color: var(--gray);
  font-size: .8em;
}

tr.TermAcrScPrint {
  border-top: 1px solid var(--gray);
}

tr.NewmAvgDecimalPrint {
  border-bottom: 1px solid var(--gray);
}

tr.SyzygyScPrint {
  border-top: 2px solid var(--gray);
}

tr.SyzygyDecimalPrint {
  border-bottom: 2px solid var(--gray);
}

.calendar-select {
  margin-top: 4em;
}

.calendar-select select {
  font-size: .8em;
  font-family: var(--sans);
}

.note {
  font-size: .9em;
  color: var(--gray);
  margin: 0 auto .5em;
  line-height: 1.6;
}

year-range {
  font-size: 1em;

}

.year-select .note {
  color: var(--gray);
}

.year-select input {
  font-size: .9em;
  font-family: var(--sans);
  width: 3.3em;
}

.year-select.width4 input {
  width: 12em;
}

.year-select input.width4 {
  width: 12em;
}

.year-select.width5 input {
  width: 45em;
}

.year-select.width3 input {
  width: 7em;
}

.year-select input.width1 {
  width: 1.5em;
}

.year-select input.width3 {
  width: 7em;
}

.year-select input.width5 {
  width: 45em;
}

code {
  font-family: var(--codesans);
  background: var(--bgblue);
  border-radius: .2em;
  padding: .2em .3em;
  margin: 0 0.2em;
  font-size: .9em;
}

button {
  margin: auto 0 auto .8em;
  font-size: 1em;
  padding: .3em .6em;
  border-radius: .4em;
  font-weight: bold;
  color: var(--red);
  -webkit-transition: .3s;
  transition: .3s;
}

button:hover {
  background: var(--red);
  color: var(--bg);
}

button.button1 {
  color: var(--red);
  background: var(--yellow);
  border: none;
}

button.button1:hover {
  color: var(--bg);
  background: var(--red)
}

button.button2 {
  color: var(--bg);
  background: var(--red);
  border: none;
}

button.button2:hover {
  color: var(--red);
  background: var(--yellow)
}

button.button4-1 {
  color: var(--bg);
  background: var(--darkyellow);
  border: none;
}

button.button4-1:hover {
  color: var(--darkyellow);
  background: none;
}

button.button4-2 {
  color: var(--bg);
  background: var(--blue);
  border: none;
}

button.button4-2:hover {
  color: var(--blue);
  background: none;
}

button.button4-3 {
  color: var(--bg);
  background: var(--shallowgray);
  border: none;
}

button.button4-3:hover {
  color: var(--shallowgray);
  background: none;
}

button.button4-5 {
  color: var(--bg);
  background: var(--purple);
  border: none;
}

button.button4-5:hover {
  color: var(--purple);
  background: none;
}

button.button4-6 {
  color: var(--bg);
  background: var(--cyan);
  border: none;
}

button.button4-6:hover {
  color: var(--cyan);
  background: none;
}

button.button4-7 {
  color: var(--bg);
  background: var(--green);
  border: none;
}

button.button4-7:hover {
  color: var(--green);
  background: none;
}

button.button4-8 {
  color: var(--bg);
  background: var(--letterred);
  border: none;
}

button.button4-8:hover {
  color: var(--letterred);
  background: none;
}

input {
  background: none;
  margin: 0 .3em;
  padding: .1em .4em;
  border-radius: .5em;
  border: 2px solid var(--black);
  -webkit-transition: .3s;
  transition: .3s;
}

.save-file {
  margin-left: 2em;
}

.modulo {
  margin: 5em auto;
  max-width: 1075px;
}

.modulo h2 {
  font-size: 1.8em;
  color: var(--darkyellow);
  letter-spacing: .2em;
  margin: 4em auto 2em;
  border-bottom: .1em solid var(--yellow);
  /* text-shadow: 1px 1px 4px var(--shallowgray); */
}

.modulo h3 {
  font-family: var(--serif);
  margin: 3em auto .7em;
  font-size: 1.5em;
}

.modulo h4 {
  font-family: var(--serif);
  margin-top: -1.2em;
  color: var(--gray);
}

.comment-wrap {
  background-color: var(--bgblue);
  margin: 5em auto 0;
  width: 100vw;
  border: 1px solid var(--shallowgray);
}

.comment {
  width: 850px;
  padding-top: 4em;
  padding-bottom: 4em;
  margin: 0 auto;
  color: var(--black);
  font-size: .9em;
  line-height: 1.6;
  font-family: var(--sans)
}

footer {
  margin: 0 auto 2em;
  padding: 2em 0;
  width: 100%;
  text-align: center;
  background: var(--black);
  text-align: center;
  font-size: .85em;
  line-height: 1.6;
}

footer p {
  margin: .3em auto;
  color: var(--bg)
}

footer a:hover {
  color: var(--black);
  background: var(--bg);
}

hr {
  margin: 5em auto 3em;
  max-width: 6.7em;
  height: .3em;
  border-radius: 1rem;
  border: none;
  background: var(--black)
}

.decimal64 {
  margin: 0 .75em;
  padding: .2em .3em;
  border-radius: .5em;
  border: 2px solid var(--darkyellow);
  color: var(--darkyellow);
  font-family: va(--codesans);
  font-size: .8em;
}

/* 日書 */

.day-render {
  overflow: visible;
  border-radius: 2em;
  background: var(--bggray);
  border: 1px solid var(--shallowgray);
  margin: 3em auto 0;
  width: 1299px;
  padding-bottom: 2em;
}

.day-render h2 {
  margin: .5em auto 0;
  letter-spacing: .1em;
  font-size: 3em;
  line-height: 1.4;
  color: var(--red);
}

.daytitle-1 {
  font-size: .7em;
}

.day-render h3 {
  font-size: 2em;
  color: var(--red);
  margin: 3em auto .5em;
  font-family: var(--serif);
}

.day-render p {
  margin: .5em auto;
  font-family: var(--serif);
  max-width: 1000px;
  line-height: 1.7;
}

.DayAccum {
  font-weight: bold;
  font-size: 1.4em;
}

.day-table table {
  border-top: 1px solid var(--shallowgray);
  border-bottom: 1px solid var(--shallowgray);
  font-size: .9em;
}

.day-table td {
  min-width: 7.6em;
  height: auto;
  padding: .4em .25em;
  vertical-align: top;
  border: 1px solid var(--shallowgray);
  border-left: none;
}

.day-table td p {
  margin: .1em 0;
  line-height: 1.65;
  font-family: var(--codesans);
}

.day-table td p.Sc {
  font-size: 1.2em;
  font-family: var(--serif);
  letter-spacing: 1px;
  font-weight: bold;
}

.day-table td p.Jd {
  font-size: .95em;
  color: var(--gray)
}

.Equa {
  color: var(--letterred);
}

.Eclp {
  color: var(--letteryellow);
}

.Lati {
  color: var(--lettergreen);
}

.Sunrise {
  color: var(--lettergreen);
}

.Dial {
  color: var(--lettergreen);
}

.Midstar {
  color: var(--lettergreen);
}

.MoonEclp {
  color: var(--letterblue);
}

.MoonEclpLati {
  color: var(--letterblue);
}

.HouName {
  font-size: .9em;
}

.HexagramName {
  font-size: .9em;
}

.ManGod {
  color: var(--gray);
  font-size: .9em;
}

.Luck {
  color: var(--letterred);
  font-size: .9em;
}

.YearColor table {
  /* border-collapse: separate; */
  /* border: 1px solid var(--shallowgray); */
  border: none;
  font-family: var(--serif);
}

.YearColor table td {
  border: none;
  border: 1px solid var(--gray);
  padding: .7em 0;
  width: auto;
  font-weight: bold;
}

.color-white {
  background: white;
  padding: 1em .5em;
}

.color-black {
  color: var(--bg);
  background: var(--black);
  padding: 1em .5em;
}

.color-cyan {
  background: var(--cyan);
  color: var(--bg);
  padding: 1em .5em;
}

.color-green {
  color: var(--bg);
  background: var(--green);
  padding: 1em .5em;
}

.color-yellow {
  color: var(--bg);
  background: var(--letteryellow);
  padding: 1em .5em;
}

.color-red {
  color: var(--bg);
  background: var(--letterred);
  padding: 1em .5em;
}

.color-purple {
  color: var(--bg);
  background: var(--purple);
  padding: 1em .5em;
}

.lati-red {
  background: var(--letterred);
  color: var(--bg);
  padding: .1em .15em;
}

.lati-black {
  background: var(--black);
  color: var(--bg);
  padding: .1em .15em;
}

.lati-white {
  background: white;
  color: var(--black);
  padding: .1em .15em;
}

.lati-green {
  background: var(--lettergreen);
  color: var(--bg);
  padding: .1em .15em;
}

.lati-yellow {
  background: var(--letteryellow);
  color: var(--bg);
  padding: .1em .15em;
}

.lati-yang {
  background: var(--bgpink);
  color: var(--black);
  padding: .1em .15em;
  margin-right: .25em;
}

.lati-yin {
  background: var(--gray);
  color: var(--bg);
  padding: .1em .15em;
  margin-right: .25em;
}

/*!
  Chosen, a Select Box Enhancer for jQuery and Prototype
  by Patrick Filler for Harvest, http://getharvest.com

  Version 1.8.7
  Full source at https://github.com/harvesthq/chosen
  Copyright (c) 2011-2018 Harvest http://getharvest.com

  MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
  This file is generated by `grunt build`, do not edit it by hand.
  */

/* @group Base */
.chosen-container {
  margin: 1em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: .9em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 5em;
}

.chosen-container * {
  border-radius: .4em;
  border: none;
  background: var(--bg);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  z-index: 1010;
  width: 100%;
  border-radius: .5em;
  border: none;
  border-top: 0;
  background: var(--bg);
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100% 100%);
  clip-path: inset(100% 100%);
}



.chosen-container a {
  cursor: pointer;
}

.chosen-container .search-choice .group-name,
.chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}

.chosen-container .search-choice .group-name:after,
.chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
}

.chosen-container .chosen-results li.no-results {
  width: 100%;
  color: #777;
  display: list-item;
}

.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}

.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}

.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;

}

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
  width: 25px;
}

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: .4em;
  border: 1px solid var(--black);
  max-width: 100%;
  border-radius: .3em;
  background: var(--bg);
  line-height: 13px;
}

.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  /* background-color: red; */
  background: url(./chosen-sprite@2x.png) -42px 1px no-repeat;
  font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  color: #666;
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}

.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.chosen-disabled .chosen-single {
  cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}

.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}

.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}

.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}

.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}

.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}

.chosen-rtl .chosen-choices li {
  float: right;
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}

.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}

.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: url("./chosen-sprite@2x.png") no-repeat -30px -20px;
  direction: rtl;
  min-width: 5em;
}

.chosen-search-input {
  min-width: 5em;
}

.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

.chosen-select-no-results {
  padding: 1em;
  border: 1px solid var(--gray);
  border-radius: 1.2em;
  height: 95vh;
  z-index: 999;
  position: fixed;
  top: 1em;
  left: 1em;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.5dppx) {

  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("./chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}

/** loading view **/

/* .loading-view {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.6);
  background-image: url("./book.gif");
  background-repeat: no-repeat;
  background-position: center;
} */

/* .loading-text {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: 65px;
} */


/* @end */